@font-face {
    font-family: "crayons";
    src: url(/fonts/dk-crayon-crumble.ttf) format("truetype");
}

h1.crayons { 
    font-family: "crayons", Verdana, Tahoma;
}


/* Custom Social Media Icons */

.social-buttons a.instagram {
	background:#000
}

.social-buttons a.instagram:before {
content: "\f16d";
font-family: FontAwesome;
font-size:14px;
color:#fff
}